.header-holder{
    color: #fff;
    /* background-color: #36096d; */
    background-image: linear-gradient(315deg, #a45555 0%, #6974e4 70%);
    .header-menu-icon{
        color: #fff;
        margin-right: 1em;
        font-size: 2rem;
    }
    .header-title{

    }
}
