<div class="sidebar-holder">
  <div class="card">
    <div class="card-header card-header-info">
      Menu
    </div>
    <div class="card-body">
      <div class="list-group">
        <a href="#" class="list-group-item waves-light" mdbWavesEffect>
         Dashboard
        </a>
        <a href="#" class="list-group-item waves-light" mdbWavesEffect>
         Usuarios
          </a>
        <a href="#" class="list-group-item waves-light" mdbWavesEffect
          >Morbi leo risus</a
        >
        <a href="#" class="list-group-item waves-light" mdbWavesEffect
          >Porta ac consectetur ac</a
        >
        <a href="#" class="list-group-item waves-light" mdbWavesEffect
          >Vestibulum at eros</a
        >
      </div>
    </div>
  <div>

  </div>
</div>
